{% extends 'AdminBundle::layout.html.twig' %}

{% set template = 'AdminBundle:crud:sort.html.twig' %}
{% set template_list_actions = "AdminBundle:crud:list_actions.html.twig" %}

{% block page_title %}
	{{ ('admin.menu.'~ route_pattern)|trans|raw}}
{% endblock page_title %}

{% block page_content %}



{% for flash_message in app.session.flashbag.get('danger') %}
  <div class="alert alert-danger">
      {{ flash_message|trans }}
  </div>
{% endfor %}

{% for flash_message in app.session.flashbag.get('warning') %}
  <div class="alert alert-warning">
      {{ flash_message|trans }}
  </div>
{% endfor %}

{% for flash_message in app.session.flashbag.get('success') %}
  <div class="alert alert-success">
      {{ flash_message|trans }}
  </div>
{% endfor %}

<div class="row">
</div>

<div class="box box-primary">
	<div class="box-body">
		{#
		{% include 'AdminBundle:filters:search.html.twig' with {form:form_filters,action: path('_app_crud_' ~ route_pattern ~ '_list')} %}
		#}
		{% if items|length > 0 %}
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					{% for field in list_fields %}
					<th>
						{% include template with {field:field,route_pattern:route_pattern} %}
					</th>
					{% endfor %}
					<th></th>
				</tr>
			</thead>
			<tbody>
			{% for item in items %}
			<tr>
				{% for field in list_fields %}
				<td>
					{% if loop.index0 == 0 %}
					<a href="{{ path('_app_crud_' ~ route_pattern ~ '_edit',{id:item.id}) }}">
					{% endif %}

					{% if attribute(metadata,field) is defined %}
						{% include 'AdminBundle:crud:field_' ~ attribute(metadata,field).type ~ '.html.twig' with {field:field,item:item} %}
					{% else %}
						{{ attribute(item,field|camelize) }}
					{% endif %}

					{% if loop.index0 == 0 %}
						</a>
					{% endif %}
				</td>
				{% endfor %}
				<td>
					{% include template_list_actions with { item:item, actions:list_actions } %}
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		{% else %}
			<h2>{{ 'admin.crud.list.no_results'|trans({},'AdminBundle') }}</h2>
		{% endif %}
	</div>
	<div class="box-footer">

		{% if export_fields and is_granted('ROLE_ADMIN') %}
		<a href="{{ path('_app_crud_' ~ route_pattern ~ '_export') }}" class="btn btn-primary btn-sm">
		  <span class="glyphicon glyphicon-download-alt"></span> {{ 'admin.crud.list.export'|trans({},'AdminBundle') }}
		</a>
		{% endif %}

		<a href="{{ path('_app_crud_' ~ route_pattern ~ '_create') }}" class="btn btn-primary btn-sm btn-info pull-right">
		  <span class="glyphicon glyphicon-plus"></span> {{ 'admin.crud.list.add'|trans({},'AdminBundle') }}
		</a>
	</div>
</div>

{% if items.haveToPaginate %}
<div class="pagerfanta">
    {{ pagerfanta(items, 'twitter_bootstrap3') }}
</div>
{% endif %}

{% endblock page_content %}

