{% trans_default_domain "AdminBundle" %}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
        
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{'admin.modal.delete.title'|trans}}</h4>
            </div>
        
            <div class="modal-body">
                <p>{{'admin.modal.delete.description'|trans({'%1%':'<strong>'~record_type~'</strong>'})|raw}}</p>
                <p>{{'admin.modal.delete.cta'|trans}}</p>
                <p class="debug-url"></p>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{'admin.modal.delete.cancel'|trans}}
                </button>
                <a class="btn btn-danger btn-ok" href="{{action}}">{{'admin.modal.delete.delete'|trans}}</a>
            </div>
        </div>
    </div>
</div>